
.tableTitle{
    color:#456882;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 5em;
}
.tableTitle h1{
    padding: 0;
    margin: 0;
    flex-grow: 1;
    width: 60%;
    align-self: center;
}
.btnSearch{
    background-color: #456882;
    color: #F9F3EF;
    height: 100%;
    margin: 0;
    padding: 0.5em;
    border: none;
    transition: all 100ms;
}
.btnSearch svg{
    height: 25px;
}
.btnSearch:hover{
    background-color: #d2c1b6;
    color: #456882;
}
table{
    width: 80%;
}
